@import "tailwindcss";

@layer base {
  :root {
    /*#000*/
    --color-black: #000;
    /*#fff*/
    --color-white: #fff;
    /*#182d55*/
    --color-primary: #182d55;
    /*#6edffe*/
    --color-secondary: #26395e;
    /*#6ddffe*/
    --color-accent: #6edffe;
    --color-gray: #c7c7c777;

    --primary-background: var(--color-primary);

    --header-text-color: var(--color-white);

    --main-layout-border-color: var(--color-gray);

    --side-navbar-background: var(--color-primary);
    --side-navbar-default-btn-icon-color: var(--color-white);
    --side-navbar-selected-btn-background: var(--color-accent);

    --input-default-border-color: var(--color-white);
    --input-focused-border-color: var(--color-accent);

    --dashboard-background: var(--color-secondary);

    --device-tile-icon-text-color: var(--color-white);
    --device-tile-border-color: var(--color-white);
    --device-tile-background: var(--color-secondary);
    --device-tile-selected-background: var(--color-accent);

    --sub-device-tile-selected-icon-text: var(--color-accent);
    --sub-device-tile-selected-border: var(--color-accent);

    --thermostat-default-text-color: var(--color-white);
    --thermostat-btn-hover-color: var(--color-accent);

    --toggle-btn-border: #8a95a8;
    --toggle-btn-background: #3c4b6f;
    --toggle-btn-inactive-top: #8a95a8;
    --toggle-btn-active-top: var(--color-accent);

    --add-device-button: var(--color-accent);

    --color: rgb(59, 213, 255);
    --glow-effect-color: 59, 213, 254;
    --glow-effect-background: var(--color-primary);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* outline: red dashed 1px; */
    outline: none;
  }

  main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header"
      "side-navbar interface-container";
  }

  .glow {
    background-color: var(--glowing-effect-background);
    box-shadow: 0 0 24px 4px rgba(var(--glow-effect-color), 0.6);
    animation: pulseGlow 2s infinite alternate;
  }

  @keyframes pulseGlow {
    from {
      box-shadow: 0 0 24px 4px rgba(var(--glow-effect-color), 0.9);
    }

    to {
      box-shadow: 0 0 32px 10px rgba(var(--glow-effect-color), 0.2);
    }
  }

  /* width */
  ::-webkit-scrollbar-track {
    background-color: #00000000;
    border-radius: 99px;
  }

  /* Track */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #00000000;
    border-radius: 99px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
    border-radius: 99px;
  }
}